body {
    margin: 0;
    padding: 0;
    background-color: #f8efdb;
}

.container {
    margin: auto;
    margin-top: 90px;
    width: 70%;
}

.offcanvas-header {
    font-family: "Rampart One", cursive;
    background-color: #afe989;
}

.offcanvas-body {
    background-color: #d3e4cd;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
}

.btn:hover {
    color: rgb(43, 226, 165);
}

.mb-3 {
    margin-left: 10px;
}

input {
    width: 800px;
    margin-top: 10px;
}

table {
    margin: auto;
}

.navbar-brand {
    font-family: "Rampart One", cursive;
    font-size: 30px;
}

.navbar-nav {
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: whitesmoke;
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 10px 8px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}

#logout:hover {
    color: rgb(43, 226, 165);
}

#link>a:hover {
    color: rgb(43, 226, 165);
}

#logout {
    color: black;
}

.table {
    margin-right: 10px;
}

.out {
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: whitesmoke;
    border-radius: 50px;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn a:hover {
    color: rgb(43, 226, 165);
}

.titikDua {
    padding-left: 40px;
}

.warning {
    color: red;
    font-size: 0.9em;
    margin-left: 13px;
}